<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Login </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Login</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-list>
      <ion-item>
        <ion-input #number placeholder="Enter Mobile Number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input value="OTP Number" [readonly]="true"></ion-input>
      </ion-item>
      <ion-button expand="block">Login</ion-button>
    </ion-list>
  </div>
</ion-content>
