<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Login </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Login</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-list>
      <ion-item>
        <ion-input #number placeholder="Enter Mobile Number"></ion-input>
      </ion-item>
      <!-- <ion-item>
        <ion-input value="OTP" [readonly]="true"></ion-input>
      </ion-item> -->
      <!-- <ion-button expand="block">Login</ion-button> -->
      <ion-row *ngIf="showOTPInput" class="OTP-border">
        <ion-col>
          <div>
            <ion-input
              name="1"
              readonly
              type="tel"
              [(ngModel)]="OTP[0]"
              maxlength="6"
              class="otpinput"
              padding-horizontal
            >
            </ion-input>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <ion-input
              name="2"
              readonly
              type="tel"
              [(ngModel)]="OTP[1]"
              maxlength="6"
              class="otpinput"
              padding-horizontal
            >
            </ion-input>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <ion-input
              name="3"
              readonly
              type="tel"
              [(ngModel)]="OTP[2]"
              maxlength="6"
              class="otpinput"
              padding-horizontal
            >
            </ion-input>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <ion-input
              name="4"
              readonly
              type="tel"
              [(ngModel)]="OTP[3]"
              maxlength="6"
              class="otpinput"
              padding-horizontal
            >
            </ion-input>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <ion-input
              name="5"
              readonly
              type="tel"
              [(ngModel)]="OTP[4]"
              maxlength="6"
              class="otpinput"
              padding-horizontal
            >
            </ion-input>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <ion-input
              name="6"
              readonly
              type="tel"
              [(ngModel)]="OTP[5]"
              maxlength="6"
              class="otpinput"
              padding-horizontal
            >
            </ion-input>
          </div>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="showOTPInput">
        <ion-col>
          <ion-text class="small">{{OTPmessage}}</ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button
            *ngIf="!showOTPInput"
            expand="block"
            (click)="next()"
            class="transition"
          >
            <strong> Next</strong></ion-button
          >
          <ion-button
            *ngIf="showOTPInput"
            expand="block"
            (click)="register()"
            class="transition"
          >
            <strong> Register</strong></ion-button
          >
        </ion-col>
      </ion-row>
    </ion-list>
  </div>
</ion-content>
